<ion-header>
  <ion-navbar>
    <ion-title>校友通</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="!!banners" [options]="bannersSlideOptions" style="max-height: 200px;" #banner>
    <ion-slide *ngFor="let banner of banners">
      <img [src]="banner.image" />
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row wrap>
      <ion-col *ngFor="let item of sections" width-50>
        <img [src]="item.icon" (tap)="forwardTo(item);">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
