<!--
  Generated template for the OrganizationDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{organization?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button block color="danger" (click)="doAdd();">加入</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img [src]="organization?.image" />
    <ion-card-content>
      <ion-card-title>{{organization?.name}}</ion-card-title>
      <p>创建时间：{{organization?.founded_on}}</p>
      <p>成员：{{organization?.users_count}}</p>
    </ion-card-content>
  </ion-card>

    <!-- 简介 -->
  <ion-card>
    <ion-card-header>
      简介
    </ion-card-header>
    <ion-list>
      <ion-item>
      <div [innerHtml]="organization?.body"></div>
    </ion-item>
    </ion-list>
  </ion-card>

  <!-- 最新活动 -->
  <ion-card *ngIf="organization && organization.latest_events.length > 0">
    <ion-card-header>
      最新活动
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let event of organization.latest_events" text-wrap (click)="gotoEventDetail(event);">
        <ion-thumbnail item-left>
          <img [src]="event.image">
        </ion-thumbnail>
        <h2>{{event.title}}</h2>
        <p>活动时间：{{event.started_at}}</p>
      </button>
    </ion-list>
    <button *ngIf="organization.latest_events.length > 5" ion-item (click)="gotoEventList();">
      查看全部活动
    </button>
  </ion-card>

  <!-- 最近加入成员 -->
  <ion-card *ngIf="organization && organization.latest_users.length > 0">
    <ion-card-header>
      最近加入成员
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let user of organization.latest_users" (click)="gotoUserDetail(user);">
        <ion-avatar item-left>
          <img src="{{user.avatar || 'assets/img/default_avatar.png'}}" />
        </ion-avatar>
        <h2>{{user.nickname || user.hack_mobile}}</h2>
        <p>{{user.specialty}}&nbsp;&nbsp;{{user.graduation}}</p>
        <button ion-button outline color="primary" item-right (click)="openChat(user)">私信</button>
      </button>
    </ion-list>
    <button *ngIf="organization.latest_users.length > 5" ion-item (click)="gotoUserList();">
      查看所有成员
    </button>
  </ion-card>
</ion-content>
